body {
    font-family: "Museo Sans 700",sans-serif;
    background: #EEEEEE;
}
p, h1, h2 {
    padding-left: 40px;
}
h1, h2 {
    color: #110d3b;
}
h1 {
    font-size: 46px;
    text-transform: uppercase;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 20px;
    color: #2d21a3;
}
h4 {
    font-size: 20px;
    color: #545454;
    font-style: italic;
}
.company-name {
    text-transform: uppercase;
    color: white;
    font-size: 36px;
}
.moto {
    color: white;
    line-height: 10px;
}
h1.moto {
    text-transform: uppercase;
    padding-top: 200px;
}
h2.moto {
    font-style: italic;
}

.bckground {
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('http://c.files.bbci.co.uk/14202/production/_108243428_gettyimages-871148930.jpg');
    background-position:center top;
    height:650px;
}

.profile {
    height:200px;
    width: 200px;
    border-radius: 50%;
    filter: brightness(0.9) grayscale(100%);
    border: solid #2d21a3;
    border-color: #2d21a3;
}
.image {
    height:100px;
    padding-left: 50px;
}

footer {
color: #ababb0 ;
text-align: center
}

#profiles {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
#names, #titles {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
#profiles img {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#names h3 {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-family: perpetua ;
    margin-bottom: 0px;
}
#titles h4 {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-family: perpetua ;
    margin-top: 0px;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
