@font-face{
  font-family: "Corbel Light";
  src: url("design/fonts/corbell.ttf") format('truetype');
}
@font-face{
  font-family: "Perpetua";
  src: url("design/fonts/PER_____.ttf") format('truetype');
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font-family: "Corbel Light",sans-serif;
    font-weight: 400;
    background: #EEEEEE;
    overflow-x:hidden;
}

header {
    position: fixed;
    background-color: #281e8a;
    width: 100%;
    height: 5rem;
    z-index: 10;
}

nav {
  float: right;
  width: 60%;
  right: 0;
  text-align: right;
  margin-top: 2%;
}

main {
  position: relative;
  top: 5rem;
}

footer {
    color: #ababb0;
    text-align: center;
    position: relative;
    top: 5rem;
    height: 5rem;
}

a {
  text-decoration: none;
}

h1, h2 {
    color: #281e8a;
}
h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
    color: #2d21a3;
}
h4 {
    font-size: 1.5rem;
    color: #a8a8a8;
    font-style: italic;
}

.container {
  width: 95%;
  text-align: center;
}

.container h1 {
    text-transform: uppercase;
    color: white;
    font-size: 2.4rem;
    cursor: pointer;
    float: left;
    margin-left: 2.5rem;
    margin-top: 1%;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: auto 6%;
}

nav li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  border: 0.2rem hidden red;
  padding: 1rem;
}

.moto {
    width:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://static.vecteezy.com/system/resources/previews/000/830/014/original/futuristic-banner-background-with-wireframe-terrain-vector.jpg');
    background-position:center;
    background-size: cover;
    height: 40rem;
}

.moto h1, h2 {
    margin-left: 2.5rem;
    position: relative;
    top: 40%;
    color: white;
}

.moto h2 {
    font-style: italic;
}

.founders {
    margin: 2.5rem 2.5rem;
    width: 100%;
    height: 40rem;
    align: center;
}

.founders img {
    display: inline-block;
    height: auto;
    width: 15%;
    margin: 5% 1.5%;
    border-radius: 50%;
    filter: brightness(0.9) grayscale(100%);
    border: solid #2d21a3;
    border-color: #2d21a3;
    cursor: pointer;
}

.founders h3, h4 {
     display: inline-block;
     width: 14%;
     margin: 0 2%;
     text-align: center;
     font-family: "Perpetua", serif;
     font-weight: 400;
     letter-spacing: -.02rem;
     margin-bottom: 0.5rem;
}

.portfolio {
    margin: 2.5rem 2.5rem;
    width: 100%;
    height: 30rem;
}

.portfolio ul {
  margin: 5% auto;
  text-align: center;
}

.portfolio li {
    background-color: #7f53a6;
    opacity: 0.8;
    color: white;
    display: inline-block;
    width: 25% ;
    font-size: 1.5rem;
    margin: 1% 2%;
    text-align: center;
    border: 0.2rem solid #7f53a6;
    padding: 2rem;
    cursor: pointer;
    border-radius: 1.2rem;
}

.values {
    margin: 2.5rem 2.5rem;
    width: 100%;
    height: 30rem;
}

.values ul {
  margin: 5% auto;
  text-align: center;
}

.values li {
    background-color: #7f53a6;
    opacity: 0.8;
    color: white;
    display: inline-block;
    width: 25%;
    font-size: 1.5rem;
    margin: 1% 2%;
    text-align: center;
    border: 0.2rem solid #7f53a6;
    padding: 2rem;
    cursor: pointer;
    border-radius: 1.2rem;
}

.partners {
    margin: 2.5rem 2.5rem;
    width: 100%;
    align-items: center;
    height: 30rem;
}

.partners .container {
    height: 100%;
    margin: 10% auto;
}

.partners .container img {
    margin: 1% 2%;
    height: 20%;
    display: inline-block;
}